[Unit]
Description=PinParser Django (runserver)
After=network.target

[Service] 
User=root
WorkingDirectory=/root/PinParser/PinParser 
Environment="PATH=/root/PinParser/PinParser/venv/bin" 
ExecStart=/root/PinParser/PinParser/venv/bin/python manage.py runserver 0.0.0.0:8000 

Restart=always 
RestartSec=5 

[Install] 
WantedBy=multi-user.target