[Unit]
Description=PinParser Celery Beat
After=network.target

[Service]
User=root
WorkingDirectory=/root/PinParser/PinParser
Environment="PATH=/root/PinParser/PinParser/venv/bin"

ExecStart=/root/PinParser/PinParser/venv/bin/celery \
          -A config beat \
          --loglevel=info

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
